/* Asterix wildcard selector to override default styles added by the browser */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-weight: 300;
    color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* navbar and logo in header section */

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAD02C;
    padding: 0 25px;
    transition: 0.3s;
}

.logo a img {
    width: 100%;
    max-width: 120px;
    height: 85px;
    padding-top: 0.3rem;
    border-radius: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.menu li{
    list-style: none;    
} 

.menu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 8px 25px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 1;
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: #0000FF;
}

.hamburger {
    position: relative;
    width: 35px;
    height: 4px;
    background-color: #F8FAF9;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #F8FAF9;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 35px;
}

.hamburger:after {
    top: 10px;
    width: 35px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
   display: none;
}

.navigation input:checked ~ .hamburger {
    background: transparent;
}

.navigation input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked ~ .menu {
    right: 0;
}

/* hero section and text overlay */

#hero-section {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    position: relative;
}

#hero-image img {
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin-top: 0.5rem;
    background: no-repeat center center;
    background-size: cover;
}

#hero-text {
    width: 100%;
    height: 130px;
    background-color: #55d14281;
    background-size: cover;
    bottom: 0;
    left: 0;
    padding-top: 1.3rem;
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: "Barriecito", system-ui;
    font-size: 7vmin;
    font-weight: 400;
    color: #F8FAF9;
    letter-spacing: 6px;
}

/* welcome section and overview */

#welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
    margin-top: 2rem;
    height: auto;
}

.title h2 {
    flex: 1 1 100%; 
    text-align: center;
    font-size: 9vmin;
    font-family: "Charm", cursive;
    padding-bottom: 3rem;
}

.row {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row .text-left {
    width: 45%;
    max-width: 410px;
    height: 400px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.row .store-right {
    width: 45%;
    max-width: 410px;
    height: 380px;
}

.store-right img{
    width: 400px;
    height: 330px;
    object-fit: cover;
}

hr {
    border: 2px solid #B9B7BD;
    width: 100%;
    max-width: 500px;
    display: flex;
}

.text-left h2 {
    font-size: 18px;
    padding-bottom: 0.5rem;
}

.text-left p {
    padding-top: 2rem;
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
    padding-bottom: 3rem;
}

.button {
    flex: 1 1 100%; 
    max-width: 300px;
    margin: 0 auto;
    background-color: #06141B;
    color: #F8FAF9;
    border: 3px solid #06141B;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    padding: 18px 18px;
}

.button:hover {
    background-color: #FAD02C;
    color: #F8FAF9;
    font-weight: bold;
    border: 3px #06141B;
    border-radius: 4px;
    text-decoration: none;
}

/* Special Offers section */

#deals-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    margin: 2rem;
}

#deals-section h2 {
    text-align: center;
    font-size: 9vmin;
    font-family: "Charm", cursive;
    font-weight: 700;
    padding-bottom: 2rem;
}

#deals-section h2 #members {
    font-family: "Inter", sans-serif;
    font-size: 6vmin; 
    font-weight: 600;
}

.deals {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 50px 15px;
}

.box {
    border: 5px solid #cdcdcd;
    height: 450px;
    width: 23%;
    justify-content: space-evenly;
    text-decoration: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.box img {
    height: 310px;
    width: 100%;
    max-width: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 2rem;
    display: flex;
}

.box a h3 {
    font-size: 4vmin;
}

.box a h4 {
    font-size: 3.5vmin;
}

.box a h5 {
    font-size: 2.6vmin;
}

.box a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blueviolet;
}

/* Boba section and overview */

#about-boba {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
    margin-bottom: 2rem; 
}

.heading h2 {
    text-align: center;
    font-size: 8vmin;
    font-family: "Charm", cursive;
    font-weight: 700;
    padding-bottom: 4rem;
}

.boba {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.boba .text-boba {
    width: 45%;
    max-width: 410px;
    height: 400px;
}

.bubbles-tea {
    width: 45%;
    max-width: 410px;
    height: 400px;
}

.bubbles-tea img {
    width: 370px;
    height: 280px;
    object-fit: cover;
}

.text-boba h2 {
    font-size: 18px;
}

.text-boba p {
    padding-top: 1rem;
    line-height: 1.1;
    letter-spacing: 0;
    font-size: 16px;
    text-align: justify;
}

/* Footer Section - contact info */

footer {
    width: 100%;
    background-color: #FAD02C;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    align-content: center;
}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-logo a img {
    height: 19.7vh;
    width: 100%;
    max-width: 150px;   
    border: #F8FAF9;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0;
}

#footer-section {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    justify-content: space-evenly;
    align-content: center;
}

#footer-section .column {
    line-height: 1.5rem; 
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.column h2 {
    font-size: 3vmin;
    padding-bottom: 2rem;
}

.column li {
    list-style: none;
    font-size: 2.5vmin;
}

.column li a {
    text-decoration: none;
    line-height: 1rem;
}

.mid-column .list a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.mid-column a:hover {
    text-decoration: underline;
    color: #0000FF;
}

#footer-links {
    line-height: 2rem;
}

.footer-end {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #06141B;
}

.footer-end h2 {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #F8FAF9;
    height: 35px;
    padding-top: 0.6rem;
}

#copyright-line {
    display: block;
    border: 3px solid #F8FAF9;
    width: 100%;
    max-width: 1400px;
    margin: 0;
}

/* Menu section*/

#head-menu {
    text-align: center;
    font-family: "Charm", cursive;
    font-weight: 800;
    font-size: 9vmin;
}

#menu-text {
    width: 100%;
    height: 130px;
    background-color: #55d142ce;
    background-size: cover;
    bottom: 0;
    left: 0;
    padding-top: 1.3rem;
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: "Barriecito", system-ui;
    font-size: 7vmin;
    font-weight: 400;
    color: #F8FAF9;
    letter-spacing: 6px;
}

/* Order bubble tea section*/

#order-section {
    width: 100%;
    background-color: #B40052;
    margin: 2rem 0;
    padding-bottom: 2rem;
}

#order-head {
    font-family: "Charm", cursive;
    font-size: 5.5vmin;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}

.large-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: 18%;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 3.6vmin;
    align-content: center;
    padding-top: 1.6rem;
}

.container img {
    width: 200px;
    height: 200px;
    padding: 0;
}

.container h2 {
    padding-bottom: 1rem;
    font-size: 24px;
}

.container h3 {
    text-align: center;
    padding-bottom: 12px;
    font-size: 20px;
}

/*  Milk Series  */

#milk-tea-section {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-family: "Inter", sans-serif;
}
.container-milk {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 1.2rem;
    font-size: 2vmin;
}

.img-milktea {
    position: relative;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: none;
    background: no-repeat center;
    border-radius: 10%;
    padding-bottom: 0.5rem;
    margin: 0;
}

.milk-tea {
    width: 16%;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.milk-series {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #988780;
    color: #F8FAF9;
    font-size: 3.8vmin;
    padding: 0.4rem 0;
}

.heading-milk, .heading-fruit, .heading-slush, .heading-smoothies {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

.menu-price {
    font-size: 18px;
    padding-top: 1rem;
}

/*  Fruit Series  */

#fruit-tea-section {
    width: 100%;
    padding-bottom: 1.8rem;
    padding-top: 1rem;
    font-family: "Inter", sans-serif;
}

.fruit-tea {
    width: 16%;
    display: inline-block;
    align-items: center;
    text-align: center;
    position: relative;
}

.fruit-series {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #DB1F48;
    color: #F8FAF9;
    font-size: 3.8vmin;
    padding: 0.4rem 0;
}

/*  Slush Series  */

#slush-tea-section {
    width: 100%;
    padding-bottom: 2rem;
    font-family: "Inter", sans-serif;
}

.slush-tea {
    width: 16%;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.slush-series {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FF9F5B;
    color: #F8FAF9;
    font-size: 3.8vmin;
    padding: 0.4rem 0;
}

.heading-slush {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*  Smoothies Series  */

#smoothies-tea-section {
    width: 100%;
    padding-bottom: 2rem;
    font-family: "Inter", sans-serif;
}

.smoothies-tea {
    width: 16%;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.smoothies-series {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00E091;
    color: #F8FAF9;
    font-size: 3.8vmin;
    padding: 0.4rem 0;
}

.heading-smoothies {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*  Toppings Section  */

#toppings-section {
    width: 100%;
    font-family: "Inter", sans-serif;
}

.head-toppings {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFDE68;
    color: #F8FAF9;
    font-size: 3.8vmin;
    padding: 0.4rem 0;
}

.toppings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 1.5rem 0;
}

.toppings .boba-left {
    width: 30%;
    max-width: 300px;
    height: 320px;
}

.toppings .boba-mid {
    width: 30%;
    max-width: 300px;
    height: 320px;
    font-size: 2.7vmin;
    text-align: center;
}   
.toppings .boba-right {
    width: 30%;
    max-width: 300px;
    height: 320px;
}

.boba-left img {
    width: 300px;
    height: 275px;
}

.boba-right img {
    width: 300px;
    height: 275px;
}

.boba-mid h2 {
    padding-bottom: 0.5rem;
    font-size: 18px;
    font-weight: bold;
}

.boba-mid p {
    padding-top: 0.3rem;
    font-weight: 600;
    font-size: 17px;
}

/*  Sign-up offer Section  */

#menu-line {
    height:2.5px;
    border-width:0;
    border-style: solid;
    background-color: #444444;
    align-items: center;
}

.offer-end {
    width: 100%;
    font-family: "Inter", sans-serif;
    display: block;
    text-align: center;
    margin-bottom: 4rem;
}

.signup-btn {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.signup-btn a {
    background-color: #06141B;
    color: #F8FAF9;
    border: 2px solid #F8FAF9;
    border-radius: 2px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 0.5rem;
    letter-spacing: 4px;
    line-height: 1.6;
    text-decoration: none;
    text-align: center;
    display: block;
}

.signup-btn a:hover {
    background-color: #FAD02C;
    color: #F8FAF9;
    font-weight: bold;
    border: 3px #06141B;
}

/*  Gallery page - title and gif section  */

.bubble-partea {
    width: 100%;
    margin: 3rem 0;
}

.bubble-partea h2 {
    display: flex;
    justify-content: center;
    font-family: "Charm", cursive;
    font-size: 12vmin;
}

.gif-partea {
    display: flex;
    justify-content: center;
}

.gif-partea img {
    height: 130px;
    width: 130px;
}

/*  Gallery page - title and gif section  */

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0 100px 0;
}

#gallery img {
    flex-wrap: wrap;
    width: 320px;
    height: 300px;
    margin: 20px 10px;
    transition: transform .2s;
}

#gallery img:hover {
    cursor: pointer;
    transform: scale(1.3); 
}

/*  Form page - Sign Up Section  */

.form-section {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 3rem 0;    
}
    
.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    width: 80%; 
    margin: 0 auto;  
}

.form-img {
    display: flex;
    flex: 1; 
    padding: 10px;
    height: 520px;
    overflow: hidden;
}

.form-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sign-up {
    flex: 1; 
    background-color: #FAD02C;
    padding: 10px; 
    height: 500px;
    font-family: "Inter", sans-serif;
}

.sign-up h2 {
    text-align: center;
    padding-bottom: 0.6rem;
    font-weight: bold;
    font-size: 30px;
}

.sign-up h3 {
    text-align: center;
    padding-top: 0.2rem;
    line-height: 1.3;
}

.sign-up h4 {
    text-align: center;
    padding-top: 0.2rem;
    line-height: 1.3;
    padding-bottom: 0.7rem;
    padding-top: 1rem;
}
.sign-up #form-fill {
    text-align: center;
    font-weight: bold;
    line-height: 1.7;
}

.signup-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06141B;
    color: #F8FAF9;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 3px #06141B;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #B9B7BD;
    color: white;  
    text-decoration: none;
}

/* Thank You page */

.background-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    border:17px solid #fff;
}

.background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000e0; 
    padding: 52px;
    color: #fff; 
}

.content {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.content h2 {
    font-size: 6vmin;
    margin-bottom: 1rem;
}

.content p {
    font-size: 4vmin;
}

#discount-code {
    background-color: #06141B;
    font-size: 5vmin;
    font-weight: bold;
}

/*  Media Queries Section */

/* For larger to medium screens size from 1200px and wide and down */

@media screen and (max-width: 1200px) {

    /*  Hero Section  */
    
    #hero-text {
        font-size: 6vmin;
        padding-top: 1.5rem;
    }
    
    #hero-image img {
        height: 100vh;
        object-fit: cover;
    }

    /*  Welcome Section  */
    
    .title {
        font-size: 6vmin;
    }
    #welcome {
        width: 100%;
    }
    
    /*  Offers Section  */
    
    #deals-section {
        margin-bottom: 0;
    }
    #deals-section h2 {
        font-size: 8vmin;
        padding-bottom: 0;
    }
    #deals-section h2 #members {
        font-size: 5vmin;
    }
   
    #deals-section .box {
        height: 450px;
    }
    #deals-section .deals .box {
        margin: 40px 10px 28px 10px;
    }
    
    /* Menu hero section */
    
    #menu-text {
        font-size: 5.8vmin;
    }

    /*  About Boba Section  */
    
    .heading h2 {
        font-size: 7.3vmin;
    }
    
    /*  Menu Section  */
       
    #order-section {
        width: 100%;  
    }

    #order-head {
        font-size: 5vmin;
    }

    .container img {
        width: 150px;
        height: 150px;
    }

    .container {
        padding-top: 1.6rem;
        width: 16%;
        margin-left: 2rem;
    }

    .container h2 {
        font-size: 3vmin;
    }

    .container h3 {
       font-size: 3vmin;
    }

    #head-menu {
        font-size: 9vmin;
    }
    
    /* Menu Section */

    .toppings .boba-left {
        width: 25%;
        height: auto;
    }

    .toppings .boba-mid {
        width: 25%;
        height: auto;
        font-size: 2.4vmin;
        text-align: center;
    }   

    .toppings .boba-right {
        width: 25%;
        height: 225px;
    }
    
    .boba-left img {
        width: 200px;
        height: 225px;
    }

    .boba-right img {
        width: 200px;
        height: auto;
    }

    .boba-mid h2 {
        font-size: 17px;
    }

    .boba-mid p {
        font-size: 15px;
    }

    /* Thank you page */
   
    .content h2 {
        font-size: 5.8vmin;
        margin-bottom: 1rem;
    }
    
    .content p {
        font-size: 3.5vmin;
    }
    
    #discount-code {
        font-size: 5vmin;   
    }

    .overlay {
        padding: 2rem;
    }
}
    /* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

   /*  Hero Section  */

    #hero-text {
        font-size: 5vmin;
        padding-top: 2rem;
    }

    #hero-section {
        height: 80vh;
    }
    
    #hero-image img {
        height: 80vh;
        object-fit: cover; 
    }

    /*  Welcome Section  */

    #welcome {
        width: 100%;
    } 

    .text-left h2 {
        font-size: 3.3vmin;
    }

    .text-left p {
        padding-top: 1rem;
        padding-bottom: 1.7rem;
        font-size: 14px;
    }

    .row .text-left {
        width: 320px;
        height: 320px;
    }

    .row .store-right {
        width: 320px;
        height: 320px;
    }

    .store-right img{
        height: 300px;
        width: 300px;
    }

    .button {
        padding: 13px 15px;
        font-size: 14px;
        margin-left: 4rem;
    }

    /*  Offers Section  */

    #deals-section {
        width: 100%;
        margin-top: 2rem;
    }

    #deals-section .deals {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .box {
        height: 300px;
        width: 40%;
        max-width: 400px;
    }

    .box img {
        height: 300px;
        width: 100%;
        max-width: 400px;
    }

    .box h3 {
        font-size: large;
    }

    /*  Boba Section  */

    #about-boba {
        width: 100%;
    }

    .heading {
        padding-top: 3rem;
        font-size: 5.5vmin;
    }

    .boba {
        width: 100%;   
    }

    .boba .text-boba {
        width: 40%;
        max-width: 350px;
        height: 300px;
    }

    .bubbles-tea {
        width: 40%;
        max-width: 350px;
        height: 350px;
    }

    .bubbles-tea img {
        width: 300px;
        height: 320px;
    }

    .text-boba h2 {
        padding-bottom: 0.5rem;
        font-size: 3.3vmin;
    }

    .text-boba p {
        padding-top: 1rem;
        line-height: 1.2;
        letter-spacing: 0;
        font-size: 14px;
    }

     /* Menu hero section */
    
    #menu-text {
        font-size: 4.8vmin;
        text-align: center;
    }

    #hero-image img {
        height: 80vh;
        object-fit: cover;
    }
    
    /* Order Section */

    #order-section {
        width: 100%;
    }

    #order-head {
        font-size: 4.8vmin;
    }

    .container img {
        width: 125px;
        height: 125px;
    }

    .container {
        width: 16%;
    }

    .container h2 {
        font-size: 4vmin;

    .container h3 {
        font-size: 3vmin;
    }

    .container h2 {
        font-size: 4vmin;
    }

    /* Milk Tea section */

    #head-menu {
        font-size: 9vmin;
    }

    .container-milk {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        font-size: 2.2vmin;
    }

    .img-milktea {
        position: relative;
        height: 130px;
        width: 110px;
        border: none;
        background: no-repeat center;
        border-radius: 7%;
        padding-bottom: 0.5rem;
        margin: 0;
    }

    .milk-tea, .fruit-tea, .slush-tea, .smoothies-tea {
        width: 15%;
    }

    #milk-tea-section, #slush-tea-section, #smoothies-tea-section {
        padding-bottom: 0;
    }

    .heading-milk, .heading-fruit, .heading-slush, .heading-smoothies, .menu-price {
        font-size: 20px;
    }

    .toppings .boba-left {
        width: 20%;
        height: 270px;
    }

    .boba-mid {
        width: 20%;
        height: 300px;
        font-size: 2.4vmin;
        text-align: center;
    }

    .boba-left img {
        width: 20%;
        height: 260px;
    }

    .boba-right img {
        width: 20%;
        height: 260px;
    }

    .boba-mid h2 {
        font-size: 15px;
    }

    /* Thank you page */
   
    .content h2 {
        font-size: 5.8vmin;
        margin-bottom: 1rem;
    }
    
    .content p {
        font-size: 3.5vmin;
    }
    
    #discount-code {
        font-size: 5vmin;   
    }

    .overlay {
        padding: 2rem;
    }

   .menuHeader{
    font-size: 38px;
    text-align: center;
    }

     /* Footer */
     .column li {
        font-size: 2.2vmin;
     }
}

/* Media Queries for mobile screen sizes from 768px wide and down */

@media screen and (max-width: 768px) {

/* Header and Navbar */
    .hamburger,
    .toggle-menu {
        display: block;
    }

    .header {
        padding: 10px 20px;
        background-color: #06141B;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color:#FAD02C;
        color:#F8FAF9;
        width: 300px;
        height: 100%;
        padding-top: 85px;
    }

    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    .menu li a:hover {
        padding: 30px;
        font-size: 24px;
        cursor: pointer;
        color: #0000FF;
        box-shadow: #C55FFC 3px 3px 6px 0px inset,
        #ffffff80 -3px -3px 6px 1px inset;
    }
       
    /*  Hero Section  */

    #hero-section {
        width: 100%;
        height: auto;
    }

    #hero-image img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

    #hero-text {
        font-size: 4.1vmin;
        text-align: center;
        padding-top: 2rem;
    }
    
    /*  Welcome Section  */

    #welcome {
        width: 100%;
        margin-bottom: 0;
    } 

    .title h2 {
        font-size: 7.5vmin;
    }

    .text-left h2 {
        font-size: 2.8vmin;
    }

    .text-left p {
        padding-top: 1rem;
        padding-bottom: 1.7rem;
        font-size: 12px;
    }

    .row .text-left {
        width: 275px;
        height: 300px;
    }

    .row .store-right {
        width: 270px;
        height: 270px;
    }

    .store-right img{
        height: 270px;
        width: 270px;
        object-fit: cover;
        padding: 0 1rem;
    }
    
    /*  Offers Section  */

    #deals-section {
        width: 100%;
        margin: 0;
    }

    #deals-section h2 {
        font-size: 7vmin;
    }

    #deals-section h2 #members {
        font-size: 17px;
    }

    #deals-section .deals {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin: 0;
       padding: 0;
    }

    .box {
        height: 275px;
        width: 40%;
        max-width: 300px;
    }

    .box img {
        height: 275px;
        width: 100%;
        max-width: 300px;
    }
    
    /*  Boba Section  */

    #about-boba {
        width: 100%;
    }

    .heading h2 {
        padding-top: 3rem;
        padding-bottom: 2rem;
        font-size: 6.4vmin;
    }

    .boba {
        width: 100%;   
    }

    .boba .text-boba {
        width: 40%;
        max-width: 350px;
        height: 350px;
    }

    .bubbles-tea {
        width: 40%;
        max-width: 350px;
        height: 350px;
    }

    .bubbles-tea img {
        width: 250px;
        height: 300px;
        padding-top: 0.5rem;
    }

    .text-boba h2 {
        padding-bottom: 0.5rem;
        font-size: 3vmin;
    }
    
    .text-boba p {
        padding-top: 1rem;
        line-height: 1.2;
        letter-spacing: 0;
        font-size: 11.5px;
    }

     /* Menu hero section */
    
     #menu-text {
        font-size: 4.5vmin;
        text-align: center;
        padding-bottom: 7px;
    }

    /* Welcome section */

    .text-left h2 {
        font-size: 15px;
    }

    .text-left p {
        font-size: 13px;
    }

    .row {
        margin-bottom: 2rem;
    }

     /* Order Section */

    #order-section {
        width: 100%;
    }
    
    #order-section #order-head {
        padding-top: 2rem;
    }

    .large-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        width: 25%;
        margin-bottom: 20px;
    }

    .container img {
        width: 75%;
        height: auto;
    }

    .container h2 {
        font-size: 15px;
    }

    .container h3 {
        font-size: 14px;
    }
 
     /* Milk Tea Section */

    #head-menu {
        font-size: 8vmin;
    }

    .container-milk {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding-top: 1.2rem;
        font-size: 15px;
    }

    .img-milktea {
        position: relative;
        height: 125px;
        width: 120px;
        object-fit: cover;
        border: none;
        background: no-repeat center;
        border-radius: 8%;
        padding-bottom: 0.5rem;
        margin: 0;
    }

    .milk-tea, .fruit-tea, .slush-tea, .smoothies-tea {
        width: 15%;
    }

    .menu-price {
    font-size: 16px;
    }

    .heading-milk, .heading-fruit, .heading-slush, .heading-smoothies {
        font-size: 15px;
    }
    
    .milk-series, .fruit-series, .slush-series, .smoothies-series, .head-topping {
        font-size: 3.6vmin;
    }

    .toppings {
        margin-bottom: 0;
    }
    
    .toppings .boba-left {
        width: 200px;
        height: 250px;
    }

    .toppings .boba-mid {
        width: 18%;
        height: 250px;
        text-align: center;
    }   

    .toppings .boba-right {
        width: 20%;
        height: 250px;
    }
    
    .boba-left img {
        width: 190px;
        height: 210px;
        object-fit: cover;
    }

    .boba-right img {
        width: 190px;
        height: 210px;
        object-fit: cover;
    }

    .boba-mid h2 {
        font-size: 16px;
    }

    .boba-mid p { 
        font-size: 14px;
    }

    .signup-btn a {
        width: 150px;
        height: 50px;
        font-size: 4.3vmin;
    }

    .offer-end h2 {
        font-size: 5vmin;
    }

    /* Footer Section */

    .footer-logo a img {
        height: 20vh;
        width: auto;
        max-width: 150px;
        padding-top: 1rem;
        border-radius: 5px;
    }
              
    #footer-section {
        flex-direction: column;
        align-items: center; 
    }

    #footer-section .column {
        text-align: center;
        font-size: 3vmin;
    }

    .column h2 {
        font-size: 3.4vmin;
    }

    .column li {
        font-size: 2.5vmin;
    }

    /* Form Page */

    .form-section {
        display: block;
    }

    .form-row {
        flex-direction: column;
    }
    
    .form-img {
        display: none;
    }
      
    .sign-up {
        width: 100%;
        max-width: none;
        height: 600px;
        position: relative;
        background-image: url('../img/boba-tea2.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .sign-up::before {
        content: '';
        position: absolute;
        top: 0;
        left: 5.3rem;
            width: 70%;
            height: 100%;
            background-color: #f97f28;
            opacity: 0.9;
    }
    
    .sign-up h2,
    .sign-up h3,
    .sign-up h4,
    .sign-up #form-fill {
        position: relative;
        color: #F8FAF9;
    }

    .sign-up #form-fill {
        padding-bottom: 2.3rem;
    }

    .sign-up h2 {
        padding-top: 1.6rem;
    }

    /* Thank you page */
   
    .content h2 {
        font-size: 5.8vmin;
        margin-bottom: 1rem;
    }
    
    .content p {
        font-size: 3.5vmin;
    }
    
    #discount-code {
        font-size: 4.5vmin;   
    }

    .overlay {
        padding: 2rem;
    }
}

/* Media Queries for mobile screen sizes from 594px wide and down */

@media screen and (max-width: 594px) {
    
    .logo {
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .logo a img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }
    
    /* Hero section */

    #hero-section {
        height: 80vh;
    }
   
    #hero-image img {
        height: 80vh;
        object-fit: cover; 
    }

    #hero-text {
        height: auto;
    }

    #hero-text h2 {
        font-size: 6.5vmin;
        text-align: center;
        padding: 0 0 1rem 0;
    }

    /* Welcome section */

    #welcome {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .row {
        flex-direction: column;
    }

    .store-right {
        margin-top: 4rem;
    }

    .text-left,
    .store-right {
        width: 100%;
        height: auto;
        max-width: unset;
        text-align: center;
    }

    .store-right img {
        width: 90%; 
        max-width: unset;
    }

    .title h2 {
        font-size: 7vmin;
        padding-bottom: 1.6rem;
    }

    .text-left h2 {
        font-size: 3.7vmin;
        padding-top: 0;
    }

    .text-left p {
        font-size: 14px;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    hr {
        width: 65%;
        max-width: 200px;
        margin-left: 3rem;
    }

    .button {
        margin-right: 3rem;
    }

    /* Offers section */

    #deals-section {
        margin: 1rem 0 0 0;
    }
    
    #deals-section .deals .box {
        margin: 0;
    }

    .deals {
        flex-direction: column; 
        align-items: center;
        width: 100%;
    }

    #deals-section h2 {
        font-size: 7vmin;
    }  

    #deals-section h2 #members {
        font-size: 15px;
        padding-bottom: 0;
    }

    .box {
        width: 90%;
        margin-bottom: 0; 
        border: none;
    }

    .box img {
        height: 350px; 
        width: auto; 
        max-width: 100%; 
        object-fit: cover;
    }
    
    .box a h3 {
        font-size: 15px;
    }
    
    .box a h4 {
        font-size: 13px;
    }
    
    .box a h5 {
        font-size: 11.5px;
    }

    /* About Boba Section */

    #about-boba {
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    .heading h2 {
        font-size: 7vmin;
        margin: 0;
        padding: 0;
    }
      
    .boba {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    
    .boba .text-boba {
        width: 250px;
        height: auto;
        margin: auto;
        align-items: center;
    }
    
    .bubbles-tea {
        width: 280px;
        height: 300px;
        margin: auto;
    }
    
    .bubbles-tea img {
        width: 280px;
        height: 275px;
    }
    
    .text-boba p {
        width: 100%;
        text-align: justify;
        align-items: center;
        margin: 0;
        font-size: 13px;
        padding-bottom: 2rem;
    }

    .text-boba h2 {
        text-align: center;
        font-size: 3.5vmin;
    }
    
    .text-boba hr {
        margin-left: 3rem;
    }

    /*  Footer Section  */

    .column li {
        font-size: 13px;
    }

    .column h2 {
        font-size: 15px;
    }

    .footer-logo a img {
        height: 16vh;
        max-width: 130px;
    }

    /*  Menu Hero image text  */

    #hero-section {
        height: 80vh;
    }
    
    #hero-image img {
        height: 80vh;
        object-fit: cover; 
    }
    
    #hero-text {
        height: auto;
    }
    
    #hero-text h2 {
        font-size: 6.2vmin;
        text-align: center;
        padding: 0 0 1rem 0;
    }
    
    #menu-text {
        font-size: 4vmin;
        text-align: center;
        height: 90px;
    }

    /* Order Section */

    #head-menu {
        font-size: 8vmin;
    }

    #order-head h2 {
        font-size: 7.8vmin;
    }

    #order-section #order-head {
        padding-top: 1rem;
    }

    .large-container {
        width: 100%; 
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .container {
        width: 70%; 
        height: auto;
    }

    .container img {
        width: 200px;
        height: 200px;
    }

    .container h2 {
        font-size: 14px;
        padding-top: 0;
    }

    .container h3 {
        font-size: 13px;
        padding-bottom: 0.5rem;
    }

    /*  Milk Series  */

    #head-menu {
        font-size: 8vmin;
    }

    .container-milk {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .milk-tea,
    .fruit-tea,
    .slush-tea,
    .smoothies-tea {
        width: 35%; 
        margin: 10px 20px 0 20px; 
        text-align: center;
    }
    
    .img-milktea {
        height: 175px;
        width: 140px;
        border-radius: 10px;
    }
 
    .heading-milk,
    .heading-fruit,
    .heading-slush,
    .heading-smoothies,
    .menu-price {
        font-size: 15px;
    }

    .milk-series,
    .fruit-series,
    .slush-series,
    .smoothies-series,
    .head-toppings {
        font-size: 3.6vmin;
        padding: 0.5rem 0;
    }
    
    /* Toppings Section */

    #toppings-section {
        padding-top: 1.5rem; 
    }

    .toppings {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem 0;
    }

    .toppings .boba-left,
    .toppings .boba-mid,
    .toppings .boba-right {
        width: 90%; 
        height: auto;
        margin-bottom: 1.5rem;
    }

    .boba-left img,
    .boba-right img {
        width: 250px;
        height: 200px;
        object-fit: cover;
    }

    .boba-mid h2 {
        font-size: 16px;
    }

    .boba-mid p {
        font-size: 15px;
    }

    /* Form page */
    .sign-up::before {
        left:3.2rem;
        width: 80%;
    }

    /* Thank you page */

    .overlay {
        padding: 1rem;
    }

    .content h2 {
        font-size: 4.6vmin;
    }

    .content p {
        font-size: 3.5vmin;
    }

    #discount-code {
        font-size: 4vmin;
    }
}

.large-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  /* Individual container styling */
  .container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border-color: #B40052;
    margin-bottom: 10px;
  }
  
  .container h2 {
    font-size: 17px;
    color: #333;
  }
  
  .container h3 {
    font-size: 14px;
    color: #555;
  }
}

  /* Media query for mobile devices */

@media screen and (max-width: 375px) {

   /* Welcome Section */

   .title h2 {
    font-size: 20px;
   }

   .text-left h2 {
    font-size: 12px;
   }

    .text-left p {
        font-size: 12px;
        padding: 1.5rem 0.6rem;
    }

    .store-right {
        margin-top: 1.6rem;
    }

    .button {
        padding-top: 12px;
    }

  .large-container  .container {
      flex: 1 1 100%;
      max-width: 100%;
    }

   /* About Boba Section */

   .heading {
    padding-top: 2rem;
    padding-bottom: 1rem;
   }

   .heading h2 {
    font-size: 20px;
   }

   .text-boba h2 {
    font-size: 13px;
   }

   .text-boba p {
    font-size: 12px;
   }

    .bubbles-tea img {
        margin-left: 1rem;
        width: 250px;
        height: 250px;
    }

   /* Menu Section */

   .milk-series, .fruit-series, .slush-series, .smoothies-series, .head-toppings {
    font-size: 14px;
    padding: 0.5rem 0;
   }

    .img-milktea {
        height: 140px;
        width: 110px;
        border-radius: 10px;
    }

    .boba-left img, .boba-right img {
        width: 230px;
        height: 180px;
        object-fit: cover;
    }

     /* Deals Section */

    .box a h3 {
        font-size: 15px;
    }
    
    .box a h4 {
        font-size: 14px;
    }
    
    .box a h5 {
        font-size: 11px;
    }
 
    /* Footer Section */
    column li {
        font-size: 2.5vmin;
    }

    .footer-end h2 {
        font-size: 13px;
    }

    /* Toogle Menu */

    .menu {
        width: 200px;
    }
  }
  