/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Charm:wght@400;700&family=Inter:wght@100..900&display=swap')

/* Asterix wildcard selector to override default styles added by the browser */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif "Charm", cursive "Barriecito", system-ui;
    font-weight: 300;
    color: black;
}

/* navbar and logo in header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    height: 88px;
    width: 100%;
    max-width: 110px;
    cursor: pointer;
    border-color:#F8FAF9;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: #FAD02C;
}

#nav-links {
    font-size: 110%;
    padding-top: 1.5rem;
    letter-spacing: 4px;
    list-style: none;
    text-decoration: none;
}

#nav-links li{
    display: inline-block;
    padding: 1px 22px;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
} 

#nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}

#nav-links a:hover {
    color:#0000FF;
    border-block:0.5rem solid #F8FAF9;
    writing-mode: horizontal-tb;
}

.active {
    border-block:0.5rem solid white;
}

/* hero section and text overlay */

#hero-section {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    position: relative;
}

#hero-image img {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    background: no-repeat center center;
    background-size: cover;
    display: flex;
}

#hero-text {
    font-size: 7vmin;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    color: #F8FAF9;
    letter-spacing: 6px;
    width: 100%;
    height: 130px;
        
    background-color: #55d14281;
    background-size: cover;
    bottom: 0.3rem;
    left: 0;
    
    position: absolute;
    display: flex;
    justify-content: center;
}

span {
    font-size: larger;
}